@charset "UTF-8";
body {
  font-family: var(--main-font);
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --main-font: "Roboto" , sans-serif;
  --secondary-font: "Raleway", sans-serif ;
  --accent-color: #212121;
  --secondary-color:#757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header > .container,
.navigation,
.navigation-menu {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.header .contact {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header .contact-email {
  margin-right: 30px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu-link:hover, .navigation-menu-link:focus {
  color: #2196F3;
}

.contact-email:hover,
.contact-email:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: #2196F3;
}

.contact-phone,
.contact-email {
  font-style: normal;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--secondary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.is-current::after {
  display: inline-block;
  content: "";
  background: #2196F3;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagens/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  margin-bottom: 30px;
}

.button-hero {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/*=== ПРЕИМУЩЕСТВА ===*/
.section-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-advantages-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-advantages-item {
  width: 270px;
}

.section-advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.advantages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  height: 120px;
}

/*======= Чем мы занимаемся =======*/
.section-adout {
  padding-bottom: 94px;
}

.section-adout-list {
  display: flex;
  justify-content: space-between;
}

/* Текст на картинке */
.section-adout-text {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 27px;
}

.section-about-container {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.section-about-item {
  position: relative;
}

/* =====СОТРУДНИКИ===== */
.section-workers {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-workers-list {
  display: flex;
  justify-content: space-between;
}

.section-workers-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.section-workers-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.social-list-links {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.social-icon {
  fill: currentColor;
}

.worker-card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}

/*==== Постоянные клиенты=====  */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196F3;
  color: #2196F3;
}

.clients-icon {
  fill: currentColor;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-adress-container {
  margin-right: 84px;
}

.footer-social-links {
  margin-right: 93px;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: block;
  margin-bottom: 9px;
}

.footer-contact-email {
  display: block;
  margin-bottom: 9px;
}

.footer-contact-phone,
.footer-contact-email {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.slogan {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link:hover, .footer .social-link:focus {
  background-color: #2196F3;
}

.main-footer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.buttons-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 611px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.button-portfolio {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover, .button-portfolio:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.work-examples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-examples-item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.card-content {
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  width: 370px;
  padding: 20px 24px;
}

.work-examples-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--accent-color);
}

.work-examples-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.work-examples-link {
  display: block;
  border: 1px solid transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-link:hover, .work-examples-link:focus {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-link:hover .overlay,
.work-examples-link:focus .overlay {
  transform: translateY(0%);
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  position: relative;
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-btn:focus, .close-btn:hover {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-slogan {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-label {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  fill: #000000;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:focus-within .modal-form-icon, .modal-form-icon:hover {
  fill: #2196F3;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form-input:focus,
.modal-form-comment:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba 117, 117, 117, 0.5;
}

.modal-policy-text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid  #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 7px;
}

.modal-form-checkbox:checked + .modal-policy-text::before {
  background-color: #188CE8;
  border: none;
  background-image: url(../imagens/modal/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-form-checkbox:focus + .modal-policy-text::before {
  border-color: #188CE8;
}

.modal-policy-text {
  font-family: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-policy-text-link {
  color: #2196F3;
  text-decoration-line: underline;
}

.modal-form-button {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background: #188CE8;
  cursor: pointer;
  width: 200px;
  min-height: 50px;
  margin: auto;
}

/*===========МОДАЛЬНОЕ ОКНО ФУТЕР=========*/
.slogan-form {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: #2F303A;
  color: #FFFFFF;
  width: 358px;
  height: 50px;
  margin-right: 12px;
}

.button-subscribe {
  min-width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  font-family: var(--main-font);
  padding: 10px 29px;
  display: inline-flex;
  margin-left: -5px;
}

.subscribe {
  margin-right: 10px;
}

.logo-accent {
  color: #2196F3;
}

.navigation-menu-link.is-current {
  color: #2196F3;
}

.subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
/*# sourceMappingURL=main.css.map */