/*==== Постоянные клиенты=====  */
.clients{
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-list{
  display: flex;
  flex-wrap: wrap;
}

.clients-link{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 210px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8 ;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  border: 1px solid #2196F3;
  color:#2196F3
    }  

}

.clients-icon{
  fill: currentColor;
}

@media screen and (min-width: 300px) and (max-width: 767px){
  .clients-item:nth-child(odd) {
    margin-right: 30px;
  }
  
  .clients-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px){
  .clients-link{
    width: 226px;
  }

  .clients-item {
    margin-right: 30px;
  }

  .clients-item:nth-child(3), .clients-item:nth-child(6) {
    margin-right: 0;
  }

  .clients-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}


@media screen and (min-width: 1200px){
  .clients{
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-link{
    width: 170px;
  }

  .clients-item:not(:last-child){
    margin-right: 30px;
  }

}


