.footer{
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;
}



.footer-adress-container{
  margin-bottom: 60px;
}

.footer-social-links{
  margin-bottom: 60px;
}

.subscribe{
  margin-right: 10px;
}

.address{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;

  display: block;
  margin-bottom: 8px;
}

.footer-contact-email{
  display: block;
  margin-bottom: 8px;
}

.footer-contact-phone,
.footer-contact-email{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.logo-footer{
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:#FFFFFF;
  text-decoration: none;

  display: block;
  margin-bottom: 20px;
}

.slogan{
  font-family: var(--main-font);
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer .social-link{
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    background-color: #2196F3;
  }
}

@media screen and (min-width: 768px){
  .footer > .container{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
  }

  .footer-adress-container{
    margin-right: 174px;
    margin-left: 76px;
    margin-bottom: 60px;
  }

}

@media screen and (min-width: 1200px){
  .footer > .container{
    display: flex;
    align-items: baseline;
  }
  
  .footer{
    text-align: left;
  }

  .footer-adress-container{
    margin-right: 84px;
    margin-left: 0;
    margin-bottom: 0;
  }
  
  .footer-social-links{
    margin-right: 93px;
  }

  .address, .footer-contact-email{
    margin-bottom: 9px;
  }

  .footer-social-links{
    margin-bottom: 0;
  }

  .logo-footer{
    font-size: 26px;
    line-height: 1.19;
  }
  
}




  
  
  
  
  
  
  // .slogan{
  //   font-family: var(--main-font);
  // font-weight: bold;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;
  // color: #FFFFFF;
  // margin-bottom: 20px;
  // }
  
  // .footer .social-link{
  //   background-color: rgba(255, 255, 255, 0.1);
  //   color: #FFFFFF;
  
  //   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   &:hover,
  //   &:focus{
  //     background-color: #2196F3;
  //   }
  // }
  
  
  