/*===========МОДАЛЬНОЕ ОКНО ФУТЕР=========*/
.slogan-form{
    font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  }
  
  .footer-form-input{
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding:15px 16px;
    background-color: #2F303A;
    color: #FFFFFF;

    width: 100%;
    // width: 450px;
    height: 50px;
    margin-bottom: 20px;

    @media screen and (min-width: 480px){
        width: 450px
      }
    
  }

 
  
  .button-subscribe{
    min-width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center; 
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    font-family: var(--main-font);
    padding: 10px 29px;
    display: inline-flex;
    margin-left: -5px;
  }
  

  @media screen and (min-width: 768px){

    .footer-form-input{
      display: block;
    }

    .footer-form-group{
      margin: auto;
    }

  }

  @media screen and (min-width: 1200px){
    .footer-form-input{
      display: inline;
    }

    .footer-form-input{
      width: 358px;
      margin-right: 12px;
    }

    .slogan-form{
      text-align: left;
    }

    .footer-form-group{
      margin: 0;
    }
  }
  