.main-portfolio{
  padding-top: 60px;
  padding-bottom: 60px;
}

.buttons-list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.button-portfolio{
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px; 
  border: none;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    background-color: #2196F3;
    color: #FFFFFF;
  }
}

.button-item:not(:last-child){
  margin-right: 8px;
}

@media screen and (min-width: 300px) and (max-width: 767px){
  
  .button-item:nth-child(-n+3){
    margin-bottom: 15px;
  }
}


@media screen and (min-width: 768px){
  .buttons-list{
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px){
  .main-portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .buttons-list{
    margin-bottom: 50px;
  }

}


  
 