/* =====СОТРУДНИКИ===== */
.section-workers{
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}


.section-workers-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.section-workers-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.social-list-links{
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child){
  margin-right: 10px;
}

.social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  color:#FFFFFF;
  background-color: #2196F3;
}
}


.social-icon{
  fill: currentColor;
}

.worker-card{
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #FFFFFF;
}

.section-workers-item{
    width: 450px;
}


  @media screen and (min-width: 768px){
     .section-workers-item{
      // width:  calc((100% - 30px * 2) / 2);
      width: 354px;
     }

    .section-workers-list{
      display: flex;
      flex-wrap: wrap;
    }

  }

  @media screen and (min-width: 300px) and (max-width: 1199px){
    .section-workers-item:not(:last-child){
      margin-bottom: 30px;
    }
  }


  @media screen and (min-width: 768px) and (max-width: 1199px){
    .section-workers-item:nth-child(2n + 1){
      margin-right: 30px;
    }

  }

  @media screen and (min-width: 1200px){
    .section-workers{
      padding-top: 94px;
      padding-bottom: 94px;
    }

    .section-workers-list{
      display: flex;
      justify-content: space-between;
    }

    .section-workers-item{
      width: 270px;
      margin-bottom:0;
    }

    .social-item:not(:last-child){
          margin-right: 10px;
        }
  }

